html, body, main
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 1em;
}

html, body, div, h1, h4, main, select, option, button, input, p, header
{
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h4, main, select, option, button, input, header
{
    font-size: 0.95em;
}

.theme
{
    background-color: #1d222d;
    color: #efefef;
}

header
{
    height: 9mm;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

#toggle-listings
{
    margin: 1mm;
    padding: 1mm;
    border: solid 1px #7c7c7c;
}

#app-name
{
    font-size: 1.25em;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#map-container
{
    width: 100%;
    height: calc(100% - 4.5mm);
}

#map
{
    width: inherit;
    height: inherit;
}

/* Info-Window */
#infoWindow
{
    max-width: 55mm;
}

#panorama
{
    width: 50mm;
    height: 50mm;
}