# Secrets like app keys, app ids, app secrets, usernames, passwords
*/secrets.json
secrets.json

# Database folder
*/database/
database/

# Python cache folder
*/__pycache__/
__pycache__/

# temp files
temp.json